div:first-of-type{
    text-align: center;
    background-color:black;
    height: 65px;
}

footer div{
    background-color:red;
    color:yellow;
    height: 4em;
}
footer div p{
    text-align: center;
}
img{
    padding:5px;
}
div{
    text-align: center;
    background-color: black;
}

div a{
    text-decoration: none;
    color: yellow;
}

p{
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 1em;
}
table{
    margin:0 auto;
    margin-top: 5em;
}

a{
    text-align: center;
    width: 50px;
    text-decoration: none;
}

body > p > a{
    color:yellow;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
}

.añadirCerveza{
    text-align: center;
    width: 50px;
    color:red;
    background-color: white;

}

.detalle{
    margin:0 auto;
    margin-top: 2em;
    background-color: navajowhite;
    border: 1px solid black;
    width: 60%;
    height: 70%;
}

.detalle > p {
    margin: 0 auto;
    text-align: center;
}

/*dar color a la tabla */
.tabla{
    background-color: #ffc107;
    color:black;
    text-align: center;
}

body > table  thead th{
    background: #353b41;
    color:white;
}

body > table a{
    color:black;
    text-transform: capitalize;
    font-weight: bold;
}